:root {
    --colBlu: rgb(86, 154, 215);
    --colRed: rgb(200, 69, 42);
    --colGreen: rgb(0, 128, 0);
    --colTeal: rgb(0, 128, 128);
    --redbutton: rgb(106, 61, 51);
    --colLastOut: rgba(87, 219, 200, 0.18);
    --delete: rgba(193, 100, 72, 0.90);
    --colBorderMain: rgb(32, 132, 139);
    --null: rgba(0, 0, 0, 0);
    --shadow: rgb(17, 17, 17);
    --col00: rgb(13, 10, 14);
    --col01: rgba(34, 29, 35, 0.4);
    --col02: rgba(34, 29, 35, 0.69);
    --col03: rgba(57, 36, 63, 0.57);
    --col04: rgba(119, 119, 119, 0.44);
    --col05: rgba(13, 10, 14, 0.42);
    --col06: rgba(13, 10, 14, 0.02);
    --col07: rgba(75, 61, 88, 0.4);
    --col08: rgba(36, 51, 56, 0.5);
    --col09: rgba(29, 24, 30, 0.89);
    --col10: rgba(41, 34, 43, 0.4);
    --col11: rgba(41, 34, 43, 0.42);
    --col12: rgba(41, 34, 43, 0.69);
    --col13: rgba(41, 34, 43, 0.72);
    --col14: rgba(41, 34, 43, 0.8);
    --col15: rgba(41, 34, 43, 0.82);
    --col16: rgba(41, 34, 43, 0.84);
    --bgmobile: url('https://cdn.donmai.us/original/1c/56/__original_drawn_by_motocross_saito__1c56c7da8ecf0e5bab57f042b33603bf.gif');
    --bgmobilestorylist: url('https://cdn.donmai.us/original/1c/56/__original_drawn_by_motocross_saito__1c56c7da8ecf0e5bab57f042b33603bf.gif');
    --bgmain: url('https://cdn.donmai.us/original/50/f1/__original_drawn_by_kldpxl__50f19ebf018b138798d6e1b2196a31fb.gif');
    --bgstorylist: url('https://i.pinimg.com/736x/82/09/c5/8209c5107b0f388a8680de32b8f70ed4--shooting-stars-pixel-art.jpg');
}

.userText,
.editText,
.aiText,
.promptText,
.bEsKrR,
.kWgIGF>span,
.bcwbyl>div>span {
    text-shadow: -2px 0 var(--shadow), 0 2px var(--shadow), 2px 0 var(--shadow), 0 -2px var(--shadow) !important;
}

.eyMwwO,
.conversation {
    max-width: 3000px !important;
    background: transparent !important;
}

#app {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c07bb032-a883-42b4-99b0-04b51ef78058/d9eu4su-2c9eabc3-c9ef-4eae-b6be-a79396a3231b.png/v1/fill/w_1192,h_670,q_75,strp/high_charity_2_by_killthatthing-d9eu4su.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvZi9jMDdiYjAzMi1hODgzLTQyYjQtOTliMC0wNGI1MWVmNzgwNTgvZDlldTRzdS0yYzllYWJjMy1jOWVmLTRlYWUtYjZiZS1hNzkzOTZhMzIzMWIucG5nIiwid2lkdGgiOiI8PTExOTIiLCJoZWlnaHQiOiI8PTY3MCJ9XV19.SJ3J8wrFkCaAAxiezngL1DEmf0PRplGNP0ER_sjeMQM') !important;
    background-image: var(--bgmain) !important;
    background-blend-mode: soft-light !important;
    background-repeat: repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.conversation-main {
    border: 2px groove var(--colBorderMain) !important;
    border-radius: 30px;
}

.conversation-input-container {
    border: var(--colBorderMain) solid 2px !important;
    border-radius: 11px 11px 17px 17px !important;
}

.iXslYH {
    background: transparent !important;
    border: 2px groove var(--colBorderMain) !important;
    border-radius: 7px 7px 22px 22px;
}

.erMRWP,
.ProseMirror {
    background: var(--col10) none repeat scroll 0% 0% !important;
}

.ProseMirror-focused {
    background-blend-mode: normal !important;
    background-repeat: repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.story-list {
    background: var(--col00) none repeat scroll 0% 0%;
    background-image: var(--bgstorylist);
    background-position: center;
    background-blend-mode: difference;
    background-repeat: repeat-y;
    background-size: cover;
}

.sidebar-story-card,
.fSSyWb {
    background: var(--col01) !important;
}

.fYRVle,
.dsvpeo {
    background-color: var(--col03) !important;
}

.infobar {
    background: inherit;
}

.jeZmsy {
    background: var(--col05) none repeat scroll 0% 0%;
}

.fYRVle:hover {
    background-color: var(--col16);
}

.drsNoh> :nth-child(1)> :nth-child(2),
.ewUjbr> :nth-child(1)> :nth-child(2) {
    background-color: var(--col01);
}

.iGCkIB {
    background-color: var(--col07);
}

.dWksed,
.OrHCA {
    color: var(--redbutton) !important;
}

.kVaZA-D,
.lkmfJi {
    background-color: var(--col09) !important;
}

.kVaZA-D,
.hpcAXJ,
.gPKlsj {
    width: 100% !important;
}

.dGYveJ.OrHCA.button {
    color: var(--col02) !important;
}

.coHQti,
.felCJI:hover,
.felCJI:focus,
.djcUQG {
    background-color: var(--col02) !important;
}

.css-3hy965-control,
.kYAPIX {
    background-color: var(--col11);
}

.sc-hguplt,
.sc-BXpxD,
.sc-fiKUBa {
    background: var(--null);
    background-blend-mode: hard-light;
}

.sc-jEUCxR:hover {
    background-color: var(--col12);
}

.sc-ezrnTI {
    background-color: #201b21;
    border: solid 2px var(--col04);
    height: 95%;
}

.egckea,
.sc-bOdrWM {
    background: var(--col06) none repeat scroll 0% 0%;
}

.dBmoIE {
    background: var(--col08) none repeat scroll 0% 0%;
}

.eVOUAz {
    background: var(--null);
    background-blend-mode: hard-light;
}

.sc-hTZgZg,
.fvRhhS {
    background: #29222b;
    background-image: none;
    background-size: auto;
    background-position: center;
    background-size: auto 100%;
    background-blend-mode: soft-light;
    background-image: url('');
    background-position: right;
}

.sc-jNMcJZ {
    background: #29222b;
    background-image: none;
    background-size: auto;
    background-position: center;
    background-size: auto 100%;
    background-blend-mode: soft-light;
    background-color: var(--col08)
}

.infobar textarea,
.infobar input,
.keDGkI,
.fbhNbQ,
.sc-hiSbEG,
.d2e {
    background: var(--col08) none repeat scroll 0% 0% !important;
}

.select {
    background: var(--col14) none repeat scroll 0% 0% !important;
}

.delete-button,
.hhhsQn {
    background: var(--delete) none repeat scroll 0% 0% !important;
}

.dnyWAK {
    cursor: pointer;
    padding: 20px;
    position: relative;
    transition: all 0.08s ease-in-out 0s;
    background: var(--col15) none repeat scroll 0% 0%;
}

.eeYCdm:hover {
    background: var(--col13) none repeat scroll 0% 0%;
}

.sc-jEUCxR:hover {
    background-color: transparent;
}

.jonGLq {
    left: -50px;
}

.gczojI {
    right: -50px;
}

@media (max-width:1200px) {
    * {
        font-family: 'Libre Baskerville', serif;
    }

    .hBBUUZ {
        background: var(--col09);
    }

    .story-list {
        background-image: var(--bgmobilestorylist);
        background-blend-mode: difference;
        background-repeat: repeat-y;
        background-size: 350%;
        background-position: -10px -9em;
    }

    #app {
        background-image: var(--bgmobile) !important;
        background-position: -35em 10px !important;
    }

    .hXICka {
        background: var(--col09) !important;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Farsan&family=Libre+Barcode+128+Text&family=Libre+Baskerville:wght@700&display=swap');

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    scrollbar-width: inherit;
}

.menubar,
.infobar,
.redo-menu,
.cFsmYG,
.kTlXmA,
.iSGWUV,
.kFEulD,
.dAyrKh {
    background: var(--col09) !important;
}

.kTlXmA,
.ccpRVM,
.dTTqUS {
    color: var(--col14) !important;
}

.caohtB>span {
    color: black;
}

.hpcAXJ,
.gPKlsj {
    height: 100% !important;
    max-height: 100% !important;
}

.dziKnG>span,
.bKwAqI>span {
    color: var() !important;
}

.dziKnG>span:nth-child(3n+8),
.bKwAqI>span:nth-child(3n+8) {
    color: var(--colTeal) !important;
}

.dziKnG>span:nth-child(3n+7),
.bKwAqI>span:nth-child(3n+7) {
    color: var(--colBlu) !important;
}

.dziKnG>span:nth-child(3n+9),
.bKwAqI>span:nth-child(3n+9) {
    color: var(--colGreen) !important;
}

.gPJNtF,
.trainer-result-overlay,
.lorebook-sidebar,
.settings-sidebar,
.bJOCAO {
    background: var(--col16) !important;
}

.hVnWWF,
.jZZaZ {
    background: var(--col03) !important;
}

.jhhVCm {
    right: -100px !important;
}

.csTFZZ {
    left: -100px !important;
}

.retryDeletionText {
    background: var(--colLastOut);
}

.gZGqcQ:hover {
    background: var(--delete) !important;
}